@page
@model Bootstrap4Model
@{
    ViewData["Title"] = "Bootstrap4" +
                "";
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <title>Hello, world!</title>
</head>
<body>






    <div class="container">
        <div class="card center-block">
            <div class="card-header">
                <div class="row">
                    <div class="mr-auto p-2">MOBILE</div>
                    <div class="p-2"><i class="fa fa-wifi"></i></div>
                    <div class="p-2"><i class="fa fa-battery-three-quarters"></i></div>


                </div>
            </div>
        </div>

        <div class="card-body center-block">
            <div class="row">
                <div class="col"><button type="button" class="btn btn-secondary"><i class="fa fa-facebook"></i></button></div>
                <div class="col"><button type="button" class="btn btn-secondary"><i class="fa fa-twitter"></i></button></div>
                <div class="col"><button type="button" class="btn btn-secondary"><i class="fa fa-instagram"></i></button></div>

            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="p-2"><button type="button" class="btn btn-primary"><i class="fa fa-phone fa-2x"></i></button></div>
                <div class="ml-auto p-2"><button type="button" class="btn btn-primary"><i class="fa fa-camera fa-2x"></i></button></div>
            </div>
        </div>
    </div>




    @*
            <h1>Hello, world!</h1>
            <div class="d-flex flex-column-reverse">
                <div class="p-2">Flex item 1</div>
                <div class="p-2">Flex item 2</div>
                <div class="p-2">Flex item 3</div>
            </div>
        </div>*@



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/lib/jQuery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/assets/js/vendor/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>



