@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}





<html>
<head>
    <title>eCard Project</title>
</head>

<body>
    <a href="http://wowoco.org"><img src="~/images/banner1.svg" alt="Large blue header banner" title="Click here"/></a>   
    <h1> <strong>Aenean</strong></h1>
    <h2>lacinia</h2>
    <h3>vestibulum</h3>
    porttitor. Quisque vel ex ac <strong>dolor</strong> auctor ultricies. Donec vel pulvinar lectus. Curabitur lorem nunc, accumsan sed euismod vitae, varius sit amet nibh. Maecenas in risus ac nibh bibendum volutpat. Cras sit amet commodo mauris. Etiam varius in ex at vehicula. Proin vitae dui congue lectus facilisis consectetur viverra eu leo. Donec
    <span>vitae dui et ligula gravida faucibus eu sed dui.</span>
    <div>
        <ol>
        <li>Etiam</li>
        <li>consequat</li>
        <li>dolor</li>
        </ol>

        <ul>
        <li>enim</li>
        <li>sit</li>
        <li>amet</li>
        </ul>

        <a href="#" target="_blank">Etiam consequat enim sit amet tellus viverra, ultrices tempor purus semper.</a> Suspendisse euismod nisi leo, vestibulum aliquet nibh suscipit nec. Sed sollicitudin lacus ut dolor tempor sollicitudin. Vivamus at volutpat ante. Vestibulum a gravida justo. Nullam pharetra eu sapien ac fringilla. Pellentesque vulputate tincidunt pellentesque. Ut molestie purus eget neque condimentum, quis tempor dui condimentum. Nulla bibendum, libero eget suscipit porta, quam nulla ullamcorper mauris, quis auctor enim ex nec mi. Donec dui urna, ullamcorper sit amet sem eu, pellentesque semper justo. Maecenas sollicitudin facilisis venenatis. Nam sed justo odio. Proin facilisis, tortor ac faucibus aliquam, erat libero posuere erat, dignissim faucibus nisi sapien at nibh.
    </div>

    <p>Nullam et massa sit amet est feugiat lacinia. Praesent condimentum eros ac hendrerit mollis. Nulla odio justo, luctus mattis dui quis, tempus gravida felis. Vestibulum ut sapien orci. Cras aliquam mauris ligula, quis convallis orci lacinia ullamcorper. Aliquam id tortor vitae orci placerat mattis et non massa. Phasellus pellentesque lectus sit amet rutrum cursus.</p>
</body>

</html>




