body {
    color: #000000;
    background: #8193db url('../images/cat-bg-tile.jpg') top center no-repeat;
    font-family:Arial;
    font-size: 15px;
}

a { color: #fff;
    text-decoration:none;
}

    a:hover {
 color:#00ff21;
 font-size:1em;

    }

    a:visited {color:#ff0000;
    }

    a:focus {
    color:#4cff00;}

  