body {
    color: #000000;
    background: #fff;
    font-family: Arial;
    font-size: 12px;
}

a { color: #fff;
    text-decoration:none;
}

    a:hover {
 color:#272423;
 font-size:1em;

    }

    a:visited {color:#000000;
    }

    a:focus {
    color:#808080;}

  .photo {
      border: 0px solid #000;
      background: pink;
      width: 700px;
      text-align:center;
      float: right;
      margin: 0 3em;
      padding: 2em;
      border-radius:1em;
  }
.container-fluid{
    padding: 2em;
    margin: auto;
}
h1 {
    color: darkgoldenrod;
    font-family: arial, sans-serif;
    font-size: 3em;
    font-weight: bold;
    margin-top: 0px;
    text-transform:uppercase;
}

.myCarousel {
    padding: 2em;
    margin: auto;
}