body {
    color: #000000;
    background: #272423;
    font-family: Arial;
    font-size: 12px;
}

a { color: #fff;
    text-decoration:none;
}

    a:hover {
 color:#272423;
 font-size:1em;

    }

    a:visited {color:#000000;
    }

    a:focus {
    color:#808080;}

  